<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab_Bustillos.Properties.Settings.SistemaClasificadorDeArchivosConnectionString"
            connectionString="Data Source=.;Initial Catalog=SistemaClasificadorDeArchivos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Lab_Bustillos.Properties.Settings.Lab_BustillosConnectionString"
            connectionString="Data Source=.;Initial Catalog=Lab_Bustillos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>